<aside class="sidebar">
  <div class="sidebar-wrap">
    <div class="author-info">
      <img src="<%-theme.authorImg%>" alt="fanhua5" class="author-info__avatar">
      <div class="author-info__name">
        <%-partial('components/link', {
          props: {
            href: theme.github
          }, 
          content: config.author
        })%>
      </div>
    </div>
    <div class="post-info">
      <span class="post-info__number" title="文章数"><%=site.posts.length%></span>
      <span class="post-info__number" title="分类数"><%=site.categories.length%></span>
      <span class="post-info__number" title="标签数"><%=site.tags.length%></span>
    </div>
  </div>
</aside>